body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans SemiBold', fantasy;
}
@font-face {
    font-family: "CaviarDreams_Italic";
    src: url("/img/CaviarDreams_Italic.ttf");
}
#page aside .logo{
    width: 50px;
}

#page {
    display: flex;
}
#page aside {

    width: 30%;
    background-color: #242021;
    color: #F8F6F5;
    border-right: solid 2px #242021 ;
    padding-right: -4px;
    margin-right: 2px;
}

#page aside img.photo {
    border-radius: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #F8F6F5;
    padding: 1px;
}
#page aside p.tableau {
    display: flex;
    align-items: center;
    text-align: center;
}
#page aside img.logo {
    background-color: #F8F6F5;
    border-radius: 20%;
    border: 5px #242021;
    padding: 1px;
    margin-right: 5% ;
}
#page .title, .ititle{
    width: 100%;
    text-align: center;
}
.title{
    margin-bottom: -13px;
}
.subtitle{
    width: 80%;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: solid 2px #242021;
}
#page aside h3 {
    color: #F8F6F5;
    text-align: center;
    padding: 5px;
    border-bottom: 1px;
    text-decoration: underline;
    border-bottom-color: #F8F6F5;
}

#page p.content {
    margin-left: 10%;
    font-size: 1.2em;
}

#page main {
    width: 70%;
    background-color: #F8F6F5;
}

a {
    color: white;
}
#page .section-1{
    display: block;
}
#page .section-2{
    display: block;
}
#page .description{
    font-family: "Josefin Sans Light", sans-serif;
}
#page .devicon-bootstrap-plain-wordmark{
    font-size: 5rem;
    margin: 5%;
}
#page .devicon-github-plain-wordmark{
    font-size: 5rem;
    margin: 5%;
}
#page .devicon-css3-plain-wordmark{
    font-size: 5rem;
    margin: 5% ;
}#page .devicon-html5-plain-wordmark{
    font-size: 5rem;
     margin: 5%;
}#page .devicon-java-plain-wordmark{
    font-size: 5rem;
      margin: 5%;
}#page .devicon-laravel-plain-wordmark{
    font-size: 5rem;
       margin: 5%;
}#page .devicon-mysql-plain-wordmark{
    font-size: 5rem;
        margin: 5%;
}#page .devicon-php-plain{
    font-size: 5rem;
         margin: 5%;
}#page .devicon-symfony-original-wordmark{
    font-size: 5rem;
          margin: 5%;
}#page .devicon-vuejs-plain-wordmark{
    font-size: 5rem;
           margin: 5%;
}#page .devicon-wordpress-plain-wordmark{
    font-size: 5rem;
            margin: 5%;
}